<div class= "wrapper">
  <div class = "chart"><app-chart-mora [diasAtrasoMayorA]='7' [metaMora] = '20'></app-chart-mora></div>
  <div class = "chart"><app-chart-mora [diasAtrasoMayorA]='14' [metaMora] = '15'></app-chart-mora></div>
  <div class = "chart"><app-chart-desembolsos [meta] = '23' [valor] = "'count'"></app-chart-desembolsos></div>
  <div class = "chart"><app-chart-desembolsos [meta] = '25000' [valor] = "'sum'"></app-chart-desembolsos></div>
  <div class = "chart"><app-chart-saldo-cartera></app-chart-saldo-cartera></div>



  <br style="clear: left;" />
</div>
