.container {
  max-width: 800px;
  min-width: 150px;
  width: 100%;

}

.mat-form-field {
  width: 48%;
  min-width: 300px;
  margin-left: 1%;
  margin-right: 1%;
}


.mat-form-field-nroIdentificacion {
    width: 30%;
    min-width: 180px;
    margin-left: 1%;
    margin-right: 1%;
  }

.mat-form-field-small {
    width: 10%;
    min-width: 80px;
    margin-left: 1%;
    margin-right: 1%;
  }
.align-right {
  text-align:right;
}