<div class="container">
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup" #formStep1="ngForm" (ngSubmit)="onSubmitStep1(formStep1)">
        <ng-template matStepLabel>Datos del Credito</ng-template>

        <button mat-button type="button" routerLink="../adm"color="warn">SALIR</button>
        <button mat-button matStepperNext color="primary">SIGUIENTE</button>
        <mat-divider></mat-divider>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Monto S/</mat-label>
          <input type="number" matInput placeholder="Ingresar aqui.." formControlName="montoDesembolso" required>
          <mat-hint>Min 300, Max 2500</mat-hint>
        </mat-form-field>

        <mat-form-field class="mat-form-field">
          <mat-select placeholder="Frecuencia" formControlName="frecuencia" (selectionChange)="onFrecuenciaSelection($event)" required >
            <mat-option *ngFor="let frecuencia of frecuencias" [value]="frecuencia.value">
              {{frecuencia.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Tasa Mensual(TEM) en %</mat-label>
          <input type="number" matInput placeholder="Ingresar aqui.." formControlName="tem" step="0.01" min="13" max="52"  required>
          <mat-hint>Min 13%, Max 52%</mat-hint>
        </mat-form-field>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Nro. de Cuotas</mat-label>
          <input type="number" matInput placeholder="Ingresar aqui.." formControlName="nroCuotas" required>
        </mat-form-field>
        
        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Fecha de Desembolso</mat-label>
          <input type="date" matInput placeholder="Ingresar aqui.." formControlName="fechaDesembolso" (blur)=onFechaDesembolsoBlur()  required readonly>
        </mat-form-field>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Fecha Primera Cuota</mat-label>
          <input type="date" matInput placeholder="Ingresar aqui.." formControlName="fechaPrimeraCuota" required>
        </mat-form-field>
        <button type = "submit" mat-button color="primary">MOSTRAR CRONONOGRAMA</button>
      </form>
      <mat-divider></mat-divider>
      <br><br>
      <app-simulacion-cronograma [simulacionCredito]="simulacionCredito"></app-simulacion-cronograma>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">

      <form [formGroup]="secondFormGroup" #formStep2="ngForm" (ngSubmit)="onSubmitStep2(formStep2)">
        <ng-template matStepLabel>Datos del Desembolso</ng-template>

        <div>
          <button mat-button matStepperPrevious color="primary">ATRAS</button>
          <button mat-button matStepperNext color="primary">SIGUIENTE</button>
        </div>
        <mat-divider></mat-divider>

        <mat-form-field class="mat-form-field-small" >
          <mat-select placeholder="Tipo Identificacion" formControlName="tipoIdentificacion" disabled>
            <mat-option *ngFor="let tipoDoc of tipoDocs" [value]="tipoDoc.value">
              {{tipoDoc.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field-nroIdentificacion" appearance="standard">
          <mat-label>Nro. de Identificacion</mat-label>
          <input type="number" matInput placeholder="Ingresar aqui.." formControlName="nroIdentificacion" readonly>
        </mat-form-field>
        
        <button type="button" mat-icon-button color="primary" (click)="searchCliente()">
            <mat-icon>search</mat-icon>
        </button>
        
        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Cliente</mat-label>
          <input type="text" matInput placeholder="Ingresar aqui.." formControlName="nombre" readonly>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Tipo Cuenta Desembolso" formControlName="tipoCuentaDesembolso" (selectionChange)="onTipoCuentaDesembolsoSelection($event)" required>
            <mat-option *ngFor="let tipoCuentaDesembolso of tiposCuentaDesembolso" [value]="tipoCuentaDesembolso.value">
              {{tipoCuentaDesembolso.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Cuenta Desembolso" formControlName="idCuentaDesembolso" required >
            <mat-option *ngFor="let cuentaDesembolso of cuentasDesembolso" [value]="cuentaDesembolso.idCuenta">
              {{cuentaDesembolso.idCuenta}} - {{cuentaDesembolso.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Usuario Aprobador" formControlName="usuarioAprobador" required >
            <mat-option *ngFor="let aprobador of aprobadores" [value]="aprobador.value">
              {{aprobador.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </form>

      <mat-divider></mat-divider>
      <br><br>
      <app-datos-desembolso-credito [desembolsoCredito] = "desembolsoCredito" [step]=2></app-datos-desembolso-credito>
      <app-simulacion-cronograma [simulacionCredito]="simulacionCredito"></app-simulacion-cronograma>


    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Confirmar Desembolso</ng-template>
      <div  class="align-right">
        <button mat-button (click)="showReporteSolicitud()" color="accent">IMPRIMIR SOLICITUD</button>
      </div>
      <div>
        <button mat-button matStepperPrevious color="primary">ATRAS</button>
        <button mat-button (click)="stepper.reset()" color="warn">REINICIAR</button>
        <button mat-button (click)="desembolsarCredito()" color="primary">DESEMBOLSAR</button>
      </div>
      <mat-divider></mat-divider>
      <br><br>
      <app-datos-desembolso-credito [desembolsoCredito] = "desembolsoCredito" [step]=3></app-datos-desembolso-credito>
      <app-simulacion-cronograma [simulacionCredito]="simulacionCredito"></app-simulacion-cronograma>
    </mat-step>
  </mat-horizontal-stepper>
</div>