<div class="child">
    <form novalidate (ngSubmit)="onSubmit()">
      <div *ngIf="step > 2">
        <mat-form-field class="mat-form-field-small" appearance="standard">
          <mat-label>Tipo Identificacion</mat-label>
          <input type="text" matInput [value] = "desembolsoCredito?.cliente?.tipoIdentificacion" disabled>
        </mat-form-field>

        <mat-form-field class="mat-form-field-nroIdentificacion" appearance="standard">
          <mat-label>Nro. Identificacion</mat-label>
          <input type="text" matInput [value] = "desembolsoCredito?.cliente?.nroIdentificacion" disabled>
        </mat-form-field>
        
        <button mat-icon-button color="primary" disabled>
            <mat-icon>search</mat-icon>
        </button>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Cliente</mat-label>
          <input type="text" matInput [value] = "desembolsoCredito?.cliente?.nombre" disabled>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Tipo Desembolso</mat-label>
          <input type="text" matInput [value] = "desembolsoCredito?.tipoCuentaDesembolso" disabled>
        </mat-form-field>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Cuenta Desembolso</mat-label>
          <input type="text" matInput [value] = "desembolsoCredito?.idCuentaDesembolso + ' - ' + desembolsoCredito?.cuentaDesembolsoDescripcion" disabled>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Usuario Aprobador</mat-label>
          <input type="text" matInput [value] = "desembolsoCredito?.usuarioAprobador?.toUpperCase()" disabled>
        </mat-form-field>
        <mat-divider></mat-divider>
        <br><br>
      </div>
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Monto</mat-label>
        <input type="number" matInput [value] = "desembolsoCredito?.montoDesembolso" disabled>
      </mat-form-field>

      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Frecuencia</mat-label>
        <input type="text" matInput [value] = "desembolsoCredito?.frecuencia" disabled>
      </mat-form-field>

      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Tasa Mensual(TEM) en %</mat-label>
        <input type="number" matInput [value] = "desembolsoCredito?.tem" disabled>
      </mat-form-field>

      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Nro. de Cuotas</mat-label>
        <input type="number" matInput [value] = "desembolsoCredito?.nroCuotas" disabled>
      </mat-form-field>
        
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Fecha de Desembolso</mat-label>
        <input type="date" matInput [value] = "desembolsoCredito?.fechaDesembolso" disabled>
      </mat-form-field>

      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Fecha Primera Cuota</mat-label>
        <input type="date" matInput [value] = "desembolsoCredito?.fechaPrimeraCuota" disabled>
      </mat-form-field>
  
    </form>
  </div>
  
  <mat-divider></mat-divider>
  <br><br>