<div class="container">
  <mat-vertical-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <app-show-cuotas-pendientes [idCuenta]="idCuenta"></app-show-cuotas-pendientes>
      <form [formGroup]="firstFormGroup" #formStep1="ngForm" (ngSubmit)="onSubmitStep1(formStep1)">
        <ng-template matStepLabel>Monto a Amortizar</ng-template>

        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Monto S/</mat-label>
          <input type="number" matInput placeholder="Ingresar aqui.." formControlName="montoAmortizacion" required>
        </mat-form-field>
        <div>
          <button mat-button type="button" routerLink="../adm" color="warn">SALIR</button>
          <button mat-button matStepperNext color="primary">SIGUIENTE</button>
        </div>
      </form>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <app-simular-amortizacion-cuotas [simulacionAmortizacion]="simulacionAmortizacion"></app-simular-amortizacion-cuotas>
      <form [formGroup]="secondFormGroup" #formStep2="ngForm" (ngSubmit)="onSubmitStep2(formStep2)">
        <ng-template matStepLabel>Confirmar Amortizacion</ng-template>
        <br><br>
        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Monto S/</mat-label>
          <input type="text" matInput [value] = "amortizacionCredito?.operacion?.monto | number: '1.2-2'" disabled>
        </mat-form-field>
        <br>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Tipo Recaudo" formControlName="tipoCuentaRecaudo" (selectionChange)="onTipoCuentaRecaudoSelection($event)" required>
            <mat-option *ngFor="let tipoCuentaRecaudo of tiposCuentaRecaudo" [value]="tipoCuentaRecaudo.value">
              {{tipoCuentaRecaudo.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Cuenta Recaudo" formControlName="idCuentaRecaudo" required >
            <mat-option *ngFor="let cuentaRecaudo of cuentasRecaudo" [value]="cuentaRecaudo.idCuenta">
              {{cuentaRecaudo.idCuenta}} - {{cuentaRecaudo.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-expansion-panel *ngIf="isRecaudoBanco" [expanded] = "true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos de la Operacion de Bancos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="mat-form-field" appearance="standard">
            <mat-label>Nro. Operacion o Voucher</mat-label>
            <input type="text" matInput placeholder="Ingresar aqui.." formControlName="nroOperacion" required>
          </mat-form-field>
          <mat-form-field class="mat-form-field" appearance="standard">
            <mat-label>Fecha de la Operacion</mat-label>
            <input type="date" matInput placeholder="Ingresar aqui.." formControlName="fechaOperacion" required readonly>
          </mat-form-field>
          <mat-form-field class="mat-form-field" appearance="standard">
            <mat-label>Monto de la Operacion</mat-label>
            <input type="number" matInput placeholder="Ingresar aqui.." formControlName="montoOperacion" required readonly>
          </mat-form-field>
        </mat-expansion-panel>
        <br>
        <div>
          <button mat-button matStepperPrevious color="warn">ATRAS</button>
          <button mat-button matStepperNext color="primary">CONFIRMAR</button>
        </div>
        
      </form>
    </mat-step>
  </mat-vertical-stepper>
</div>