<div class="container" [class.is-mobile]="mobileQuery.matches" >
  <mat-toolbar role="heading" color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{title}}</h1>
   <span class="fill-remaining-space"></span>
   <span>Jose P.</span>
   <button mat-button>Salir</button>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav role="navigation" #snav class= "mat-sidenav" 
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="mobileQuery.matches ? false : true" 
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list >
        <mat-expansion-panel [expanded] = "true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Personas
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink="." >Adm. Personas Nat.</a>
          <a mat-list-item routerLink="." >Adm. Personas Jur.</a>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Clientes
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink=".">Adm. Clientes</a>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Creditos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink=".">Desembolso de Creditos</a>
          <a mat-list-item routerLink=".">Consulta de Creditos</a>
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              Operaciones
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item routerLink=".">Pago de Cuotas</a>
          <a mat-list-item routerLink=".">Extorno de Pagos</a>
        </mat-expansion-panel>
      </mat-nav-list> 
      
    </mat-sidenav>

    <mat-sidenav-content role="main" class="main-content">
      <mat-toolbar>
        <span>Modulo > Opcion</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>