<div class="container" [class.is-mobile]="mobileQuery.matches" >
  <mat-toolbar role="heading" color="primary" class="toolbar">
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{title}}</h1>
   <span class="fill-remaining-space"></span>
   <span>Jose P.</span>
   <button mat-button>Salir</button>
  </mat-toolbar>
  
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav role="navigation" #snav class= "mat-sidenav" 
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [opened]="mobileQuery.matches ? false : true" 
      [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list >

        <mat-expansion-panel *ngFor="let module of modules" [expanded] = "true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ module.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <a mat-list-item *ngFor="let option of module.options" [routerLink]="option.path" (click)="showOption(module.name, option.name)">{{ option.name}}</a>
        </mat-expansion-panel>
        
      </mat-nav-list> 
      
    </mat-sidenav>

    <mat-sidenav-content role="main" class="main-content">
      <mat-toolbar>
        <span>{{ subTitle }}</span>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>