<div class="container">
  <form #reporteForm="ngForm" (ngSubmit)="onSubmit(reporteForm)">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Generacion de Reporte de Cartera de Creditos</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Estado del Credito" [(ngModel)]="estado" name="estado" required >
            <mat-option *ngFor="let estado of estados" [value]="estado.value">
              {{estado.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      
      <mat-card-actions>
          <button type = "submit" mat-button color="primary" [disabled]="!reporteForm.form.valid">GENERAR</button>
        </mat-card-actions>
    </mat-card>
  </form>
</div>
