
.mat-form-field {
    width: 48%;
    min-width: 300px;
    margin-left: 1%;
    margin-right: 1%;
}


.container {
    max-width: 800px;
    min-width: 150px;
    width: 100%;
}

.mat-form-field-full {
    width: 98%;
    min-width: 300px;
    margin-left: 1%;
    margin-right: 1%;
}

.full-width {
    width: 100%;
}
.align-right {
    text-align: right;
}
