<div class="container">
  <form #traspasoForm="ngForm" (ngSubmit)="onSubmit(traspasoForm)">
    <mat-card>
      <mat-card-header>
        <mat-card-title><h2>Registro de Traspaso de Efectivo</h2></mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Tipo de Traspaso" [(ngModel)]="tipoTraspaso" name="tipoTraspaso"  required >
            <mat-option *ngFor="let tipoTraspaso of tiposTraspaso" [value]="tipoTraspaso.value">
              {{tipoTraspaso.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-divider></mat-divider>
        <mat-form-field class="mat-form-field" appearance="standard">
          <mat-label>Monto S/</mat-label>
          <input type="number" matInput placeholder="Ingresar aqui.." [(ngModel)]="traspaso.monto" name="monto" (blur)=onMontoBlur() required>
        </mat-form-field>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Cuenta de Caja" [(ngModel)]="traspaso.idCuentaCaja" name="idCuentaCaja" required >
            <mat-option *ngFor="let cuentaCaja of cuentasCaja" [value]="cuentaCaja.idCuenta">
              {{cuentaCaja.idCuenta}} - {{cuentaCaja.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field"  >
          <mat-select placeholder="Cuenta de Banco" [(ngModel)]="traspaso.idCuentaBanco" name="idCuentaBanco" required >
            <mat-option *ngFor="let cuentaBanco of cuentasBanco" [value]="cuentaBanco.idCuenta">
              {{cuentaBanco.idCuenta}} - {{cuentaBanco.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="mat-form-field-full" appearance="standard">
          <mat-label>Nota</mat-label>
          <input type="text" matInput placeholder="Ingresar aqui.." [(ngModel)]="traspaso.nota" name="nota" minlength="10" maxlength="200" required>
          <mat-hint>Min 10 letras</mat-hint>
        </mat-form-field>

        <mat-expansion-panel [expanded] = "true">
          <mat-expansion-panel-header>
            <mat-panel-title>
              Datos de la Operacion de Bancos
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-form-field class="mat-form-field" appearance="standard">
            <mat-label>Nro. Operacion o Voucher</mat-label>
            <input type="text" matInput placeholder="Ingresar aqui.." [(ngModel)]="traspaso.detalleBanco.nroOperacion" name="nroOperacion" required>
          </mat-form-field>
          <mat-form-field class="mat-form-field" appearance="standard">
            <mat-label>Fecha de la Operacion</mat-label>
            <input type="date" matInput placeholder="Ingresar aqui.." [(ngModel)]="traspaso.detalleBanco.fechaOperacion" name="fechaOperacion" required readonly>
          </mat-form-field>
          <mat-form-field class="mat-form-field" appearance="standard">
            <mat-label>Monto de la Operacion</mat-label>
            <input type="number" matInput placeholder="Ingresar aqui.." [(ngModel)]="traspaso.detalleBanco.montoOperacion" name="montoOperacion" required readonly>
          </mat-form-field>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-actions>
          <button type = "submit" mat-button color="primary" [disabled]="!traspasoForm.form.valid">REGISTRAR</button>
          <button type="button" routerLink="../adm" mat-button color="warn">CANCELAR</button>
        </mat-card-actions>
    </mat-card>
  </form>
</div>