<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>Busqueda de Proveedor</h2></mat-card-title>
    </mat-card-header>
      
    <mat-card-content>
      <div>
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
          <mat-form-field>
            <mat-select placeholder="Buscar por" [(ngModel)]="option" name="option" required>
              <mat-option *ngFor="let option of options" [value]="option.value">
                {{option.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field  appearance="standard" class="search-field">
            <mat-label>Criterio de Busqueda</mat-label>
            <input type="text" matInput placeholder="Ingresar aqui.." [(ngModel)]="searchInput" name="searchInput" required>
          </mat-form-field>
          <button type="submit" mat-icon-button color="primary">
              <mat-icon>search</mat-icon>
          </button>
        </form>
      </div>

      <div class="mat-elevation-z8">
        <table class = "full-width" mat-table [dataSource]="dataSource">
          <ng-container matColumnDef="posicion">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
          </ng-container>
      
          <ng-container matColumnDef="tipoPersona">
            <th mat-header-cell *matHeaderCellDef> Tipo Persona </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoPersona}} </td>
          </ng-container>

          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
      
          <ng-container matColumnDef="tipoIdentificacion">
            <th mat-header-cell *matHeaderCellDef> Tipo Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.tipoIdentificacion}} </td>
          </ng-container>
      
          <ng-container matColumnDef="nroIdentificacion">
            <th mat-header-cell *matHeaderCellDef> Nro. Identificacion </th>
            <td mat-cell *matCellDef="let element"> {{element.nroIdentificacion}} </td>
          </ng-container>

          <ng-container matColumnDef="mas">
            <th mat-header-cell *matHeaderCellDef> Seleccionar </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-icon-button color="primary">
                <mat-icon id={{element.id}} (click)="selectProveedor($event)" >arrow_forward</mat-icon>
              </button>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
</div>